* {
  margin: 0;
  padding: 0;
}

.chat {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #261A1A;
  color: white;
}

.chat-box {
  max-height: 300px;
  border: 2px solid #642E44;
  padding: 10px;
  overflow-y: scroll;
}

.chat-box p {
  margin-bottom: 4px;
}

.chat-box form input {
  padding: 3px 10px;
  outline: none;
}

.chat-box form button {
  color: white;
  background-color: #642E44;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  margin-left: 5px;
  margin-right: 5px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #ae5075;
}